@model IEnumerable<TrashCollectorWebApp.Models.Customer>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Home</h1>

<p>
    <a asp-action="CreateProfile">Create Profile</a> |
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line_1) / @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_PickUp_Reccuring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <a asp-action="Details" 
                   asp-route-id="@item.Customer_ID">@Html.DisplayFor(modelItem => item.FullName)</a>
            </td>
            <td>
                <a asp-action="Edit" 
                   asp-route-id="@item.Customer_ID">@Html.DisplayFor(modelItem => item.Line_1) 
                / @Html.DisplayFor(modelItem => item.Zip)</a>
            </td>
            <td>
                <a asp-action="ChangePickUp" 
                   asp-route-id="@item.Customer_ID">
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Reccuring)</a>
            </td>
            <td>
                <a asp-action="AccountView" 
                   asp-route-id="@item.Customer_ID">@Html.DisplayFor(modelItem => item.Balance)</a>
            </td>
            <td>
                <a asp-action="Suspend" asp-route-id="@item.Customer_ID">Suspend</a> |
                <a asp-action="OneTime" asp-route-id="@item.Customer_ID">One-Time</a>
            </td>
            <td>
            </td>

        </tr>
}
    </tbody>
</table>
