@model IEnumerable<TrashCollectorWebApp.Models.Customer>

@{
    ViewData["Title"] = "Pick Up Manager";
}

<h1><a asp-action="CustomerList">Pick Up Manager</a></h1>
<h4>View More Details</h4>

<p>
    
    <a asp-action="PickUpToday">Today</a>
    
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Last Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" /> |
            <a asp-action="CustomerList">New Search</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line_1)
            </th>
            <th>
                @Html.ActionLink("Zip", "Index", new { sortOrder = ViewBag.ZipSortParm })
            </th>
            <th>
                @Html.ActionLink("Weekday", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                <p>One Time</p>
            </th>
            <th>
                <p>Suspend Start</p>
            </th>
            <th>
                <p>End</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                <p>Confirmed?</p>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Customer" asp-action="Details"
                   asp-route-id="@item.Customer_ID">@Html.DisplayFor(modelItem => item.FullName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Reccuring)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.OneTimePickUp, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Temp_Start, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Temp_End, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.ConfirmPickUp, new { @disabled = "disabled" })
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="ConfirmPickUp"
                   asp-route-id="@item.Customer_ID">Confirm</a>
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>