@model IEnumerable<TrashCollectorWebApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Set Up Profile New</a> /
    <a asp-action="PickUpToday">Today</a> /
    <a asp-action="CustomerList">All</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Last Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Zip", "Index", new { sortOrder = ViewBag.ZipSortParm })
            </th>
            <th>
                @Html.ActionLink("Day of Week" , "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Reccuring)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Customer_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Customer_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Customer_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>