@model IEnumerable<TrashCollectorWebApp.Models.Customer>

@{
    ViewData["Title"] = "Pick Up Manager";
}

<h1><a asp-action="CustomerList">Pick Up Manager</a></h1>
<h4>View List</h4>

<p>

    <a asp-action="PickUpToday">Today</a> /
    <a asp-action="CustomerList">View More</a>
    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
    <a asp-action="Create">Set Up New Employee</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Last Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" /> |
            <a asp-action="Index">New Search</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line_1)
            </th>
            <th>
                @Html.ActionLink("Zip", "Index", new { sortOrder = ViewBag.ZipSortParm })
            </th>
            <th>
                @Html.ActionLink("Day of Week", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Customer" asp-action="Details"
                   asp-route-id="@item.Customer_ID">
                    @Html.DisplayFor(modelItem => item.LastName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_PickUp_Reccuring)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>